body {
    height: 100vh;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


/* CSS to deal with constraint validation styles */

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid green;
}

body {
    margin-top: 20px;
    background: #eee;
}

.white-bg {
    background-color: #ffffff;
}

.page-heading {
    border-top: 0;
    padding: 0 10px 20px 10px;
}

.forum-post-container .media {
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #f1f1f1;
}

.forum-avatar {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 110px;
}

.forum-avatar .img-circle {
    height: 48px;
    width: 48px;
}

.author-info {
    color: #676a6c;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}

.forum-post-info {
    padding: 9px 12px 6px 12px;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
}

.media-body>.media {
    background: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
}

.forum-post-container .media-body .photos {
    margin: 10px 0;
}

.forum-photo {
    max-width: 140px;
    border-radius: 3px;
}

.media-body>.media .forum-avatar {
    width: 70px;
    margin-right: 10px;
}

.media-body>.media .forum-avatar .img-circle {
    height: 38px;
    width: 38px;
}

.mid-icon {
    font-size: 66px;
}

.forum-item {
    margin: 10px 0;
    padding: 10px 0 20px;
    border-bottom: 1px solid #f1f1f1;
}

.views-number {
    font-size: 24px;
    line-height: 18px;
    font-weight: 400;
}

.forum-container,
.forum-post-container {
    padding: 30px !important;
}

.forum-item small {
    color: #999;
}

.forum-item .forum-sub-title {
    color: #999;
    margin-left: 50px;
}

.forum-title {
    margin: 15px 0 15px 0;
}

.forum-info {
    text-align: center;
}

.forum-desc {
    color: #999;
}

.forum-icon {
    float: left;
    width: 30px;
    margin-right: 20px;
    text-align: center;
}

a.forum-item-title {
    color: inherit;
    display: block;
    font-size: 18px;
    font-weight: 600;
}

a.forum-item-title:hover {
    color: inherit;
}

.forum-icon .fa {
    font-size: 30px;
    margin-top: 8px;
    color: #9b9b9b;
}

.forum-item.active .fa {
    color: #1ab394;
}

.forum-item.active a.forum-item-title {
    color: #1ab394;
}

@media (max-width: 992px) {
    .forum-info {
        margin: 15px 0 10px 0;
        /* Comment this is you want to show forum info in small devices */
        display: none;
    }
    .forum-desc {
        float: none !important;
    }
}
.cookie-box {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #222;
  position: fixed;
  margin: 0;
  z-index: 1001;
  transition: all 0.5s ease;
  width: 100%;
  left: 0;
  bottom: 0;
  letter-spacing: 0; }
  .cookie-box, .cookie-box * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .cookie-box.hidden {
    transform: translateY(100%); }
  .cookie-box__inner {
    padding: 15px; }
    @media (min-width: 420px) {
      .cookie-box__inner {
        display: flex;
        align-items: center;
        padding: 25px 15px; } }
  .cookie-box__content {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
    .cookie-box__content__inner {
      flex: 1; }
  .cookie-box__icon {
    margin-right: 20px;
    width: 44px;
    position: relative; }
    .cookie-box__icon svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 44px;
      height: 44px;
      vertical-align: initial; }
  .cookie-box__title {
    font-weight: 700;
    color: currentColor;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 17px; }
  .cookie-box__desc {
    color: currentColor;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: left; }
    .cookie-box__desc a {
      color: currentColor;
      text-decoration: underline;
      white-space: nowrap; }
      .cookie-box__desc a:hover {
        color: currentColor;
        text-decoration: underline; }
  @media (min-width: 420px) {
    .cookie-box__buttons {
      padding-left: 15px; } }
  .cookie-box__button, .cookie-box__button:hover {
    font-weight: 700;
    display: block;
    border-radius: 24px;
    color: currentColor;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid currentColor;
    padding: 10px 20px;
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: none;
    height: auto; }
  @media (max-width: 420px) {
    .cookie-box__button {
      margin: 15px auto 0; } }
  .cookie-box__button span {
    margin-right: 5px; }
  .cookie-box__button svg {
    position: relative;
    top: 3px; }
  .cookie-box__button span,
  .cookie-box__button svg {
    display: inline-block; }


/* CSS MyAccountPage*/

body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.morris-hover,
.morris-default-style {
    position: absolute;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

#tab {
    position: relative;
    margin-right: 5px;
    right: 20%;
}

#sendMessage {
    margin-left: 182%;
    padding: 10%;
    border-color: white;
}

#text-message {
    border: 0;
    padding: 10px;
    background: whitesmoke;
    width: 140%;
}

.board {
    right: 125px;
    width: 142%;
    padding: 30px;
    height: 50%;
    text-align: center;
    margin: 45px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

#messageBoard {
    color: red;
    font-style: italic;
    font-weight: bolder;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.message-input {
    height: 90px !important;
}

.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.text-navy {
    color: #1ab394;
}

.mid-icon {
    font-size: 66px !important;
}

.m-b-sm {
    margin-bottom: 10px;
}


/* CSS : Login*/

body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .login-form {
        margin-top: 80%;
    }
    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: rgba(179, 131, 131, 0.589) !important;
    color: #fff;
}

#board {
    background-color: rgb(43, 43, 43);
    position: sticky;
}

#navBar {
    margin-bottom: 5%;
}

#title {
    width: 800%;
}

#register {
    margin-top: 2%;
}

.morris-default-style {
    display: inline-flex;
    border-radius: 10px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.8);
    border: solid 2px rgba(230, 230, 230, 0.8);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 150px;
    word-spacing: 30px;
}

.channel {
    background-color: lightblue;
    margin-top: 15px;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text>p:last-of-type {
    width: 50%;
    text-align: right;
    color: silver;
    margin-bottom: -7px;
    margin-top: auto;
}

.text-l {
    float: left;
    padding-right: 10px;
}

.text-r {
    float: right;
    padding-left: 10px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    float: left;
    padding-right: 10px;
}

.macro {
    margin-top: 5px;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
}

.msj-rta {
    float: right;
    background: whitesmoke;
}

.msj {
    float: left;
    background: white;
}

.frame {
    background: #e0e0de;
    height: 450px;
    overflow: hidden;
    padding: 0;
}

.frame>div:last-of-type {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

body>div>div>div:nth-child(2)>span {
    background: whitesmoke;
    padding: 10px;
    font-size: 21px;
    border-radius: 50%;
}

body>div>div>div.msj-rta.macro {
    margin: auto;
    margin-left: 1%;
}

#message {
    width: 50%;
    margin: 0 auto;
    list-style-type: none;
    padding: 18px;
    display: flex;
    flex-direction: column;
    top: 10px;
    overflow-y: visible;
    position: center;
}

.msj:before {
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: -14px;
    position: relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;
}

.msj-rta:after {
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: 14px;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d4d4d4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #d4d4d4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4;
}

/*cookies css  tacked from cookie-consent-box package Node*/
.cookie-box {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #212529b8;
    position: fixed;
    margin: 0;
    z-index: 1001;
    transition: all 0.5s ease;
    width: 100%;
    left: 0;
    bottom: 0;
    letter-spacing: 0; }
    .cookie-box, .cookie-box * {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline; }
    .cookie-box.hidden {
      transform: translateY(100%); }
    .cookie-box__inner {
      padding: 15px; }
      @media (min-width: 420px) {
        .cookie-box__inner {
          display: flex;
          align-items: center;
          padding: 25px 15px; } }
    .cookie-box__content {
      flex: 1;
      display: flex;
      align-items: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
      .cookie-box__content__inner {
        flex: 1; }
    .cookie-box__icon {
      margin-right: 20px;
      width: 44px;
      position: relative; }
      .cookie-box__icon svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
        height: 44px;
        vertical-align: initial; }
    .cookie-box__title {
      font-weight: 700;
      color: currentColor;
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 17px; }
    .cookie-box__desc {
      color: currentColor;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      font-size: 14px;
      text-align: left; }
      .cookie-box__desc a {
        color: currentColor;
        text-decoration: underline;
        white-space: nowrap; }
        .cookie-box__desc a:hover {
          color: currentColor;
          text-decoration: underline; }
    @media (min-width: 420px) {
      .cookie-box__buttons {
        padding-left: 15px; } }
    .cookie-box__button, .cookie-box__button:hover {
      font-weight: 700;
      display: block;
      border-radius: 24px;
      color: currentColor;
      cursor: pointer;
      font-size: 16px;
      background: transparent;
      border: 2px solid currentColor;
      padding: 10px 20px;
      white-space: nowrap;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      text-transform: none;
      height: auto; }
    @media (max-width: 420px) {
      .cookie-box__button {
        margin: 15px auto 0; } }
    .cookie-box__button span {
      margin-right: 5px; }
    .cookie-box__button svg {
      position: relative;
      top: 3px; }
    .cookie-box__button span,
    .cookie-box__button svg {
      display: inline-block; }
  